.rowx {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.columnx {
  flex: 100%;
  max-width: 50%;
  padding: 0 0px;
  vertical-align: middle;
  justify-content: center;
}

.columnx text {
  flex: 100%;
  max-width: 100%;
  padding: 0 20px;
  vertical-align: middle;
  justify-content: center;
}

.columnx img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
  justify-content: center;

}

/* Responsive layout - makes a two columnx-layout instead of four columnxs */
@media screen and (max-width: 800px) {
  .columnx {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columnxs stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnx {
    flex: 100%;
    max-width: 100%;
  }
}