{{ define "main"}}
    <main id="main">
      <div class="not-found">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <pre id="taag_output_text" class="fig-ansi" contenteditable="true" spellcheck="false">
        ██╗  ██╗ ██████╗ ██╗  ██╗           ██████╗  █████╗  ██████╗ ███████╗           
        ██║  ██║██╔═████╗██║  ██║    ██╗    ██╔══██╗██╔══██╗██╔════╝ ██╔════╝           
        ███████║██║██╔██║███████║    ╚═╝    ██████╔╝███████║██║  ███╗█████╗             
        ╚════██║████╔╝██║╚════██║    ██╗    ██╔═══╝ ██╔══██║██║   ██║██╔══╝             
             ██║╚██████╔╝     ██║    ╚═╝    ██║     ██║  ██║╚██████╔╝███████╗           
             ╚═╝ ╚═════╝      ╚═╝           ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝           
                                                                                        
                                            ███╗   ██╗ ██████╗ ████████╗                
                                            ████╗  ██║██╔═══██╗╚══██╔══╝                
                                            ██╔██╗ ██║██║   ██║   ██║                   
                                            ██║╚██╗██║██║   ██║   ██║                   
                                            ██║ ╚████║╚██████╔╝   ██║                   
                                            ╚═╝  ╚═══╝ ╚═════╝    ╚═╝                   
                                                                                        
                                            ███████╗ ██████╗ ██╗   ██╗███╗   ██╗██████╗ 
                                            ██╔════╝██╔═══██╗██║   ██║████╗  ██║██╔══██╗
                                            █████╗  ██║   ██║██║   ██║██╔██╗ ██║██║  ██║
                                            ██╔══╝  ██║   ██║██║   ██║██║╚██╗██║██║  ██║
                                            ██║     ╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝
                                            ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝ 
                                                                                        </pre>
               <h1 id="title"><a href="{{ "/" | relURL }}">Go Home</a></h1>
      </div>
    </main>
{{ end }}